.hello {
  color: #3377ff;
  font-size: 80;
  font: outline;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-one {
  flex: 1;
  align-self: center;
}
